<header>
  <div class="container">
    <nav>
      <div class="logo">Andres<span>Ghersi</span></div>

      <div class="nav-links" [class.open]="menuOpen">
        <a href="#home">Home</a>
        <a href="#projects">Projects</a>
        <a href="#tech">Skills</a>
        <a
          href="https://github.com/aghersidev"
          target="_blank"
          rel="noopener noreferrer"
        >
          Github <i class="fab fa-github"></i>
        </a>
      </div>

      <button class="mobile-menu-btn" (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </button>
    </nav>
  </div>
</header>
